<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094970623910-fb5tbu1quait83crid6ilfv6pi3i5vsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094970623910-fb5tbu1quait83crid6ilfv6pi3i5vsd</string>
	<key>API_KEY</key>
	<string>AIzaSyA8sVgKRq8abnK8C7RZDTrtHDD_T-oDtMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1094970623910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.communityApp</string>
	<key>PROJECT_ID</key>
	<string>community-app-dhruv-3000</string>
	<key>STORAGE_BUCKET</key>
	<string>community-app-dhruv-3000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094970623910:ios:3e263e19b44fdd4394b167</string>
</dict>
</plist>